@{
    Layout = null;
}


<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Log-In</title>

    <!-- Bootstrap  -->
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/log-in.css" asp-append-version="true" />

    <!-- Toastr -->
    <link href="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css" rel="stylesheet" />

    <!-- Google Font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Cedarville+Cursive&family=Playwrite+HU:wght@100..400&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
          rel="stylesheet">

    <!-- Font Awesome for icons -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" />


    <!-- Custom CSS  -->
    <style>
        body {
            margin: 0;
            paddin: 0;
            box-sizing: border-box;
            font-family: 'Poppins';
        }
    </style>

</head>

<body>
    <partial name="Notification"></partial>
    <div class="container vh-100 d-flex align-items-center justify-content-center">
        <div class="col-md-6 d-flex flex-column justify-content-center">
            <img src="~/img/logo.png" alt="Logo" class="logo">

            <form method="post" id="loginForm">
                <div class="mb-2">
                    <label for="email" class="form-label">Email</label>
                    <input type="email" name="email" class="form-control" id="email" placeholder="Type Your Email here">
                </div>
                <div class="mb-2">
                    <label for="password" class="form-label">Password</label>


                    <input type="password" name="password" class="form-control" id="password"
                           placeholder="Type Your password here">
                </div>

                <div class="mb-2 d-flex justify-content-between align-items-center">
                    <div class="form-check">
                        <input type="checkbox" class="form-check-input" id="remember">
                        <label class="form-check-label" for="remember">Remember Me?</label>
                    </div>
                </div>

                <button type="submit" id="loginBtn" class="btn btn-primary w-100">Log In</button>

                <a href="#" class="forgot-password">Forgot Password?</a>
            </form>

        </div>

        <div class="col-md-6 d-flex align-items-center justify-content-center">
            <img src="~/img/img1.svg" class="img-fluid illustration">
        </div>

    </div>
    </div>



    <!-- jQuery  -->
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <!-- Bootstrap  -->
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <!-- Toastr  -->
    <script src="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js
   "></script>


    <!--AJAX-->
    @* <script src="~/js/auth.js"></script> *@
    <!--AJAX-->

</body>

</html>